{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit post</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('posts') }}">Back</a>

{% endblock %}