{{ 'popup.login'|trans() }}
<div class=&quot text-center popup &quot>
    <a role=&quot button&quot href=&quot{{ path('fos_user_security_login') }}&quot class=&quot btn btn-primary&quot>
        {{ 'header.link.login'|trans }}
    </a>
</div>
