<div class="index-part-header" class="row">
    <div class="col-md-12 text-center">
        <h1>Kodėl verta naudotis <b>{{ 'title.website_name'|trans() }}</b>?</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default why-us-panel">
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h3><b>Lanksti paieška</b></h3>
                    </div>
                    <div class="col-xs-12">
                        <h4>Rinkitės kiek tik norite kriterijų vienu metu, pavyzdžiui, keletą modelių vienu metu</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default why-us-panel">
            <div class="panel-body text-center">
                <div class="row">
                    <div class="col-xs-12">
                        <h3><b>Skelbimų gausybė</b></h3>
                    </div>
                    <div class="col-xs-12">
                        <h4>Naršykite automobilių skelbimus, surinktus iš įvairių skelbimų, portalų vienoje vietoje</h4>
                    </div>
                </div>

            </div>
        </div>
    </div><div class="col-md-4">
        <div class="panel panel-default why-us-panel">
            <div class="panel-body">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h3><b>Paieškų įsiminimas</b></h3>
                    </div>
                    <div class="col-xs-12">
                        <h4>Vienas mygtuko bakstelėjimas - to užtenka, kad bet kada lengvai galėtumėte pakartoti savo paiešką</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="index-part-header" class="row">
    <div class="col-md-12 text-center">
        <h1>Išbandyk ir atrask dar daugiau</h1>
    </div>
</div>

