{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set title = 'title.reset_password'|trans({}, 'messages') %}

{% block fos_user_content %}
    <h1 class="text-center">{{ title }}</h1>
    <div class="alert alert-info">
    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </div>
{% endblock %}
