{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set title = 'title.register'|trans({}, 'messages') %}

{% block fos_user_content %}
    <h1 class="text-center">{{ title }}</h1>
    <div class="alert alert-success">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    </div>

{% endblock fos_user_content %}
